[Desktop Entry]
Name=Artemis
Exec=/home/Valentin/.config/hypr/script/StartArtemis.sh
# Terminal=true
Icon=/usr/share/icons/manuell/artemis.png
Type=Application
Categories=Tum; Uni
