[Desktop Entry]
Name=Artemis
Exec=/home/source/Dotfiles/dotfiles/.config/hypr/script/StartInFirefoxAndSwitch.sh https://artemis.tum.de/ 
Icon=/usr/share/icons/manuell/artemis.png
Type=Application
Categories=Tum; Uni
