[Desktop Entry]
Name=Hyprland-Config
Exec=alacritty -e helix ~/.config/hypr/hyprland.lua
Icon=/usr/share/icons/manuell/Hyprland.png
Type=Application
Categories=Hyprland;Config
