* {
   font-family: JetBrainsMono Nerd Font;
}

window {
    background-color: transparent;
    /* opacity: 0.9; */
}

#input {
    margin: 10px;
    border-radius: 20px;
    border: 1px solid;
    border-color: #FF00FF;
    /* color: white; */
    background-color: rgba(0,0,0,0.7);
	  color: #1793d0;
	  padding: 0px 10px 0px 10px;
}

.entry {
    /* background-color: #1793d07F; */
}

#entry {
	  padding: 0px 5px 0px 5px;
    margin: 5px 0px 5px 0px;
    border-radius: 20px;
    border: 1px solid;
    border-color: #FF00FF;
	  /* border-color: rgba(0,0,0,0); */
	  /* border-color: #1793d0; */
    background-color: rgba(0,0,0,0.7);
}

#inner-box {
    /* background-color: red; */
    /* background-color: transparent; */
}

#outer-box {
    /* margin: 2px; */
    /* padding: 10px; */
    background-color: transparent;
    /* background-color: green; */

}

#scroll {
    margin: 5px;
}

#text {
    padding: 4px;
	  color: #1793d0;
}

/*
#entry:nth-child(even){
    background-color: black;
}
*/
#entry:selected {
    border: 3px solid;
    border-color: #FF00FF;
}
#text:selected {
    /* color: #FF00FF */
   /* background: blue;*/
}
